body {
    background-color: #cbdbff; /* Color de fondo pálido */
  }
  .container {
    border-top: 0.4em solid black;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 55%;
    width: 90%;
    height: 20em;
    overflow-x: auto;
    overflow-y: scroll;
  }
  
  .scrollable {
    height:auto;
    background-color: #f8f8f8;
    position:relative;
    top: 0;
  }
  
  .stars-container {
    margin-left: 1em;
    margin-right: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    font-size: small;
    font-family: Haettenschweiler;
  }
  
  .fotoEstrella {
    display: flex;
    align-items: center;
    
  }

  .fotos{
    margin-top: 1em;
    margin-bottom: 1em;
    width: 9em;
    height: auto;
  }