.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(23, 23, 29);
    height: 8em;
    padding: 1em;
    box-sizing: border-box;
    z-index: 1000;
}
  

.starPage {
    position: fixed;
    left: 75%;
    top: 4.5em;
}

.dataPage{
    position: fixed;
    left: 20%;
    top: 4.5em;
    transform: translateX(-20%);
}

.constelationPage{
    position: fixed;
    left: 50%;
    top: 1em;
    transform: translateX(-50%);

}

.logos{
    width: 2.3em;
    height: auto;
    right: 20%;
    transform: translateX(20%);
}

.spacely{
    width: 5em;
    height: auto;
}

.moon {
    position: fixed;
    left: 50%;
    top: 5.7em;
    transform: translateX(-50%);
  }


