.footer {
    background-color: rgb(223, 235, 241);
    padding: 1%;
    box-sizing: border-box;
    height: 10%;
    position: fixed;
    top: 90%;
    left: 0;
    width: 100%;
    border-top: 0.3em solid black;

}

.footer-content {
    display: flex;
    
    align-items: center;
    width: auto;
    height: auto;
    margin: auto;
}

.footer-text {
    flex: auto;
    padding-right: 1em;
}

.footer-text p {
    margin: 1%;
    font-size: small;
}

.footer-images {
    font-size: small;
    display: flex;
}

.footer-images img {
    width: 2em;
    height: auto;
    margin-right: 1em;
}